@import '../modulos/variables' ;

#barranavegacion{
    width: 100%;
    height: auto;
    justify-content: center;

    background-color: none;
}

#menu {
    width: 90%;
    height: 5rem;
    background-color:none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    float: right;
    }
    
    #menu ul li {
        display: flex;
      background-color:none;
    }
    #menu .logo{
        padding: 0 20px;
    }
    #menu ul  a {
      display:block;
      color: white;
      text-decoration:none;
      font-weight:700;
      font-size:15px;
      padding:10px;
      text-transform:uppercase;
      letter-spacing:1px;
      padding: 0 10px;
      }
      
      