@use '../modulos/variables' as *; 


#presentacion{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .contenedor {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        justify-content: space-between;
        justify-content: center;
        align-items: center;
    }
 }
   
#presentacion .foto-inicio{
    background-image: url(img/BNclose-hands-using-smart-phone-course-deadline-businesswoman-texting-late-night-while-working-important-project-using-smartphone.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    background-attachment: fixed;

}



    .contenedor_texto {
        display: flex;
        align-items: center;
        width: 700px;
        z-index: 1;
    }
    .contenedor_texto h1 {
        margin-right: 20px;
        font-size: 6rem;
        color: white;
    }
    span{
        color:$color2;
    }
    .barra__escritura {
        width: 3px;
        height: 70px;
        margin-left: 5px;
        background-color: white;
        transform: rotateZ(10deg);
        animation: barra-animacion 1s ease infinite;
    }
    .contenedor__texto__animacion {
        display: flex;
        color: white;
        font-size: 3rem;
    }
 

    @keyframes color {
        0% {
            background-color: #232323;
        }

        25% {
            background-color: #2c2c2c;
        }
        50% {
            background-color: #373737;
        }
        75% {
            background-color: #484848;
        }
        100% {
            background-color: #656565;
        }

    }

    // menu

    #barra{
        width: 100vw;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        animation: color 4s infinite;
    }

        #barra .contenedor-card{
            width: $width;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 100px 0;
        }

      #barra  .card-servicios{
            height: auto;
            background-color: snow;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: space-between;
            border-radius: 12px;
            border: 3px solid  white;
            background-color: transparent;
            box-shadow:$shadow;
            transition: all 0.3s;
            overflow: hidden;

            animation-duration: 3s;
       animation-iteration-count: infinite;
        }
        .margen{
            padding: 20px;
        }
      
   
    
    #barra .contenedor-texto {
        margin: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 16rem;
        padding: 20px;
        transition-timing-function:  cubic-bezier(.17,.67,.83,.67);

        }
         
    #barra .contenedor-texto h3{
        font-size: 1.8rem;
        font-weight: 600;
        padding: 10px 0;
        color: $color2;
        transition-timing-function:  cubic-bezier(.17,.67,.83,.67);

        }
    #barra  h5 {
        font-size: 1.2rem;
        font-weight: 500;
        color: white;
        text-align: center;
        animation-delay: 3s;

        transition-timing-function:  cubic-bezier(.17,.67,.83,.67);

        }
            
    #barra  .card-servicios:hover{
            transform: scale(1.02);
            box-shadow: $shadow2;
            }


     #barra .icono {
        display: flex;
        justify-content: center;
       font-size: 2.2rem;
       padding: 10px;
       padding-top: 15px;
       color: white;
       text-decoration: none;
       animation-duration: 3s;
       animation-iteration-count: infinite;

     }
      
  


            section .animate{
                opacity: 0;
                filter: blur(9px);
                transition: 2s;
                transform: scale(.5);
            }
            
            section.show-animate .animate{
                opacity: 1;
                filter: blur(0);
                transform: scale(1);
            }
            

    

    // servicios cards grandes

    #service{
        width: 100vw;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        animation: color 4s infinite;
    }

     
   
  #service  .card-servicios{
        width: $width;
        background-color: snow;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        border-radius: 12px;
        box-shadow:$shadow;
        transition: all 0.3s;
        overflow: hidden;
    }
    .margen{
        padding:50px 20px;
    }
  
#service .contenedor-imagen .foto1{
    background-image: url(img/istockphoto-2165505447-1024x1024.jpg);    
}
#service .contenedor-imagen .foto2{
    background-image: url(img/istockphoto-694960328-1024x1024.jpg);    
}
#service .contenedor-imagen .foto3{
    background-image: url(img/istockphoto-1019702098-1024x1024.jpg);    
}
#service .contenedor-imagen .foto4{
    background-image: url(img/istockphoto-1759364452-1024x1024.jpg);    
}
#service  .contenedor-imagen{
    display: flex;
    align-items: center;
    }
#service .imagen{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 24rem;
    flex-grow: 1;
    background-clip: content-box;
    transition: 500ms; 

    display: flex;
    justify-content: center;
    align-items: center;

    }

    #service .imagen h3{
        font-size: 2rem;
        font-weight: 700;
        padding: 10px 0;
        color: $color2;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        }

#service .imagen:hover{
    scale: 110%;
    }
#service .contenedor-texto {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 460px;
    height: 24rem;
    padding: 20px;
    }
     
#service .contenedor-texto h3{
    font-size: 2rem;
    font-weight: 700;
    padding: 10px 0;
    color: $color2;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    }
#service  h5 {
    font-size: 1.5rem;
    padding: 10px 0;
    }

    #service  h6 {
        font-size: 1.2rem;
        padding: 10px 0;
        }
        
#service  .card-servicios:hover{
        transform: scale(1.02);
        box-shadow: $shadow2;
        }

#service .icono{
    display: flex;
    justify-content: center;
   font-size: 2rem;
   padding-top: 30px;
   color: black;
   text-decoration: none;
}
    






    

  
