#fondo{
    width: 100%;
    height: auto;
    background-color: red;
}
.foto-1{
    background-image: url(assets/img/Captura\ de\ pantalla\ 2025-04-06\ a\ la\(s\)\ 12.01.40.png)
}

.foto-2{
    background-image: url(assets/img/Captura\ de\ pantalla\ 2025-04-06\ a\ la\(s\)\ 12.01.51.png)
}

.foto-3{
    background-image: url(assets/img/RH1.jpg);
    width: 350px;min-width: 330px; height: 24rem;display: block;background-size: cover;
    background-position: center; background-repeat: no-repeat;
}