//variables
$background1:#f9f8fd;
$background2:#ffffff;
$color1:#e20303;
$color2:#474747;
$color3:#ca0000;
$colortexto:#4d4d4d;
$colordcards: #e8e8e8;
$colorcardp:snow;

$width:950px;
$margin: 0 auto;
$margin-header: 90px 0;
$padding:0 10px;
$border-1:50px 20px;
$border-2:30px 10px;
$shadow: 0 3px 4px 0 #0001;
$shadow2: 0 4px 14px 0 #0005;




